.site-content {
  margin-top: 72px;
}

.proyectos-archivo {
  padding: 60px 0;
}

.proyectos-galeria {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 40px;
  max-width: 1920px;
  margin: 0 auto;
}

.fila-proyectos.visible {
  opacity: 1;
  transform: translateY(0);
}

.fila-proyectos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  overflow: hidden;
  height: auto;
}

.proyecto-item {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fila-1 .proyecto-item {
  flex: 0 0 calc(100%);
}
.fila-2 .proyecto-item {
  flex: 0 0 calc(50% - 7px);
}
.fila-3 .proyecto-item {
  flex: 0 0 calc(33.3333% - 8px);
}
.fila-4 .proyecto-item {
  flex: 0 0 calc(25% - 13px);
}

.proyecto-thumb {
  width: 100%;
  aspect-ratio: 3 / 2; /* o 4 / 3, ajustable según el diseño */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.4s ease;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.proyecto-thumb img {
  width: 100%;
  height: auto;
  display: block;
  transition:
    filter 0.4s ease,
    transform 0.6s ease;
}

.proyecto-item:hover .proyecto-thumb img {
  transform: scale(1.04);
  filter: saturate(10%) contrast(80%);
}
.proyecto-info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity 1s ease;
}

.proyecto-item:hover .proyecto-info {
  opacity: 1;
}

.proyecto-info h3,
.proyecto-info p {
  margin: 0;
  color: var(--ast-global-color-4);
  opacity: 0;
  line-height: 1.3;
  transition: opacity 1s ease;
}

.proyecto-info h3 {
  font-size: 1rem;
  font-weight: 500;
}

.proyecto-info p {
  font-size: 0.8rem;
}

.proyecto-item:hover .proyecto-info h3,
.proyecto-item:hover .proyecto-info p {
  opacity: 1;
}

@media (max-width: 768px) {
  .fila-proyectos {
    flex-wrap: wrap;
  }
  .fila-2 .proyecto-item,
  .fila-3 .proyecto-item,
  .fila-4 .proyecto-item {
    flex: 0 0 100%;
  }
}
